{% extends "app/base.html" %}
{% load static %}
{% block title %}Change Password{% endblock title %}

{% block main-content %}
<br><br>
<div class="container my-5">
<div class="row">
    <h1 class="text-center">Welcome {{ request.user.username | capfirst }}</h1> <hr> <br><br>
    <div class=" col-sm-3 border-end">
        <ul class="list-unstyled">
            <li class="d-grid">
                <a href="" class="btn btn-primary"> change Password Done</a>
            </li>
        </ul>
    </div>
    <div class=" col-sm-8 offset-sm-1 text-center">
        <h3>Password Changed Successfully</h3>
        <img 
        src="{% static 'app/images/tick.gif' %}" 
        class="img-fluid" 
        width="200"  height="200"
        alt="Tick GIF"
    >
    </div>
 
    
</div>
</div>
{% endblock main-content %}