{% extends "app/base.html" %}
{% block title %}Search{% endblock title %}

{% block main-content %}
<br><br><br>
<div class="container mt-5">
    <h2 class="text-center">Search Results for "{{ query }}"</h2>

    {% if products %}
    <div class="row mt-4">
        {% for prod in products %}
        <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-4">
            <div class="card shadow-sm text-center border-0">
                <a href="{% url 'product-detail' prod.id %}" class="btn p-0">
                    <img src="{{ prod.product_image.url }}" class="card-img-top img-fluid" alt="{{ prod.title }}">
                    <div class="card-body">
                        <h5 class="fw-bold">{{ prod.title }}</h5>
                        <p class="fw-bold text-danger mb-1">
                            RS. {{ prod.discounted_price }}/-
                            <small class="fw-light text-decoration-line-through text-muted">
                                {{ prod.selling_price }}
                            </small>
                        </p>
                    </div>
                </a>
            </div>
        </div>
        {% endfor %}
    </div>
    {% else %}
    <p class="text-center text-muted">No products found for "{{ query }}".</p>
    {% endif %}
</div>
{% endblock main-content %}
